[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt5 = "*"
numpy = "*"
Pillow = "*"
svglib = "*"
img2pdf = "*"
PyPDF2 = "*"
opencv-python = "*"

[dev-packages]

[scripts]
app = "python app.py"

[requires]
python_version = "3.7"
